*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
html {
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: 100%;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}
h1,h2,p,a{
  color: var(--text-color);
  text-decoration: none;
  transition: transform 50ms ease-in;
}
ul{
  list-style-type: none;
  text-decoration: none;
}
:root{
  --text-color: #fff;
  --blue: #1e90ff;
  --hover: #333;
  --hover1: #222;
}
a:focus,a:hover{
  color: var(--blue);
}
/* Blue Tint */
.preload *{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  transition: none !important;
}

body{
  background-image: url(/dark.jpg);
  transition: 150ms linear;
  animation: animate 200ms;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
}
@keyframes animate {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* Header Starts */
header{
  height: 4rem;
  width: 85%;
  margin: 0 auto;
}
header nav ul{
  display: flex;
  align-items: center;
}
header nav ul li{
  padding: 1rem;
  font-size: 1.5rem;
}
li:hover{
  transform: scale(1.2);
  transition: transform 50ms;
}
header nav ul li:first-child,.logo{
  margin-right: auto;
  pointer-events: none;
  user-select: none;
}
.text{
  text-decoration: none;
  color: var(--blue);
  font-size: 2.5rem;
}
/* Header End */

/* Main Start */
main{
  display: flex;
  justify-content: space-between;
}
/* First Box Start */
.first,.third{
  width: 30vw;
  display: flex;
  flex-direction: column;
}
/* First Box End */

/* Second Box Start */
.second{
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
main .second h1{
  font-size: 5rem;
  margin-top: 15%;
  margin-bottom: 2rem;
  color: var(--text-color);
}
.grid{
  display: grid;
  width: 100%;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 3rem 0 0 0; 
}
.search{
  width: 100%;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 4px;
  color: var(--text-color);
}
.search:hover,.search:focus{
  background-color: var(--hover);
  box-shadow: 0 2px 10px rgb(128,128,128);
  transition: background-color 50ms;
}
.btn,button{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}
button:hover{
  background: var(--hover);
  transform: scale(1.1);
  transition: 50ms;
}
/* Second Box End */

/* THird Box Start
.third{
  width: 30vw;
  display: flex;
  flex-direction: column;
}
THird Box End */
/* Main End*/

/* CSS for Footer starts here  */
footer{
margin-top: auto;
position: fixed;
bottom: 0;
left: 50%;
transform: translate(-50%,0);
}
footer h1{
  display: flex;
  padding: 0.5rem 0;
  font-weight: 400;
}
.button{
  background-color: transparent;
  color: var(--text-color);
  border: none;
  outline: none;
  transition: transform 50ms ease-in;
  cursor: pointer;
}
.button:hover{
  color: var(--blue);
  transform: scale(1.1);
}
footer h1 span{
  padding: 0 0.5rem;
}
/* CSS for Footer Ends here  */

/* CSS for Accordian Starts*/
.margin{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.accordion{
  border:none;
  outline:none;
  width: 100%;
  text-align:left;
  color: var(--text-color);
  background-color: var(--hover1);
  background-color: #1a1a1a;
  font-size: 1.4rem;
  padding: 0.5em;
  margin: 1rem 0;
  border-radius: 0.5rem 0.5rem 0 0;
  font-weight: bold;
}
div.panel{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  width:100%;
  transition: display 150ms linear;
  margin:2px 0 4px 0;
}
/* CSS for Accordian End*/

/*CSS for Dialog Box start*/
.flex{
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
}
.modal {
  padding: 3rem;
  width: 80vw;
  height: 80vh;
  background: #111;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  border: 1px solid #555;
}
.modal::backdrop {
  background: rgb(0 0 0 / 0.7);
}
.modal::-webkit-scrollbar{
  width: 0;
}
.overflow{
  overflow: hidden;
}
.close-button{
  cursor: pointer;
  font-size: 4rem;
  position: fixed;
  top: -0.1rem;
  right: 1rem;
}
.close-button:hover{
  color: red;
  transform: scale(1.3);
  transform: translatey(0.1px);
}
p{
  padding: 1rem 0;
}
/*CSS for Dialog Box End*/

/* Media Queries */
@media (hover: none) {
  .btn,button{
    background-color: #222; 
  }
}
@media only screen and (max-width: 1224px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  div .panel{
    grid-template-columns: 1fr 1fr;
  }
  main .second h1{
    font-size: 4rem;
  }
}
@media only screen and (max-width: 930px){
  .grid{
    grid-template-columns: 1fr 1fr;
  }
  div .panel{
    grid-template-columns: 1fr 1fr;
  }
  main .second h1{
    font-size: 3rem;
  }
  .second{
    top: 40%;
  }
}
@media only screen and (max-width:830px){
  div .panel{
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 660px){
  header nav ul li{
    padding: 0.5rem;
    font-size: 1.3rem;
  }
  .text{
    font-size: 1.5rem;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
  .second{
    top: 20%;
    left: 40%;
}
    main .second h1{
    position: fixed;
    top: -10rem;
    left: -7rem;
  }
  .search{
    position: fixed;
    top: -2rem;
    left: -8rem;
  }
  .grid{
    grid-template-columns: 1fr 1fr;
    position: fixed;
    left: -40%;
  }
  div .panel{
    grid-template-columns: 1fr 1fr;
  }
  .first,.third{
    width: 50%;
  }
  footer{
    position: relative;
    background-color: #000;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 560px){
  .grid{
    grid-template-columns: 1fr;
  }
  .search{
    left: -6.5rem;
  }
}

@media only screen and (max-width: 480px){
  .search{
    left: -6rem;
  }
  div .panel{
    grid-template-columns: 1fr;
  }
  header{
    display: none;
  }
  main .second h1{
    left: -6rem;
    font-size: 2.5rem;
  } 
}
@media only screen and (max-width: 390px){
  .second{
    top: 10rem;
  }
  main .second h1{
    left: -4rem;
    font-size: 2rem;
  } 
  .search{
    top: -5rem;
    left: -3.5rem;
  }
  .grid{
    top: -3rem;
    left: -3.3rem;
  }
}